<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>funding-regist</title>
    <!-- 펀딩 등록 페이지 전용 스타일시트 -->
    <link rel="stylesheet" href="../../../static/css/team/regist/team-regist..css">
</head>
<body data-iframe-size="true">
    <div id="__next">
        <!-- 펀딩 등록 메인 컨테이너 -->
        <div class="funding-regist-container">
            <main class="funding-regist-wrapper">
                <!-- 상단 배너 영역 -->
                <div class="funding-regist-banner-container">
                    <img src="../../static/image/funding/Black background wit.png" alt="" class="funding-regist-banner">
                </div>
                
                <!-- 펀딩 등록 폼 섹션 -->
                <section class="funding-regist-section">
                    <!-- 파일 업로드를 포함한 멀티파트 폼 -->
                    <form id="funding-regist-form" action="" enctype="multipart/form-data">
                        <!-- 진행률 표시 바 (현재 1/2 페이지) -->
                        <progress max="2" value="1">1 / 2 페이지</progress>
                        
                        <div class="funding-regist-from-container">
                            <!-- 폼 제목 영역 -->
                            <div class="funding-regist-form-title-wrapper">
                                <h1 class="funding-regist-form-title">
                                    C&M : 
                                    새로운 팀 등록 
                                </h1>
                            </div>
                            
                            <!-- 폼 설명 영역 -->
                            <div class="funding-regist-form-content-wrapper">
                                <h4 class="funding-regist-form-content">
                                    새로운 팀을 등록하시는가요?
                                    팀을 등록하려면 등록 양식에 맞춰 내용을 작성해주세요.
                                </h4>
                            </div>
                            
                            <!-- 구분선 -->
                            <div class="funding-regist-form-separator-wrapper">
                                <div class="funding-regist-form-separator">
                                    <hr class="funding-regist-form-separator-line">
                                </div>
                            </div>
                            
                            <!-- 작성 폼 시작 -->
                            <!-- 1. 프로젝트명 입력 필드 -->
                            <div class="funding-regist-form-tab-title-icon-wrap" style="width: 25%;">
                                <h3 class="funding-regist-form-tab-title fist-tab-title">
                                    1. 업종 카테고리
                                </h3>
                                <!-- 필수 항목 아이콘 및 툴팁 -->
                                <div class="funding-regist-form-tab-title-icon">
                                    <div>
                                        <span style="top: unset; bottom: 11.6875px; right: unset; left: 244.883px;">*</span>
                                        <div class="funding-regist-form-tab-title-alter" style="top: -31.562px;left: -21.539px;">
                                            <span>필수항목</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 입력 예시 안내 -->
                            <div>
                                <div style="display: flex; justify-content: space-between;">
                                    <div style="display: flex;flex-direction: column; width: 45%;">    
                                        <div class="funding-regist-form-ex-wrapper">
                                            <span class="funding-regist-form-ex">(필수)</span>
                                            <span class="funding-regist-form-ex" style="font-weight: bold; color: rgb(128, 189, 255);"> 카테고리</span>
                                        </div>
                                         <div class="custom-select-container">
                                            <input 
                                                class="funding-regist-form-input" 
                                                type="text" 
                                                name="category1" 
                                                id="input01" 
                                                placeholder="카테고리를 선택하세요" 
                                                value="" 
                                                autocomplete="off"
                                                readonly>
                                            <div class="custom-dropdown" id="dropdown01" style="width: 300px;">
                                                <div class="dropdown-item" data-value="tech">테크/가전</div>
                                                <div class="dropdown-item" data-value="fashion">패션/잡화</div>
                                                <div class="dropdown-item" data-value="food">푸드</div>
                                                <div class="dropdown-item" data-value="beauty">뷰티</div>
                                                <div class="dropdown-item" data-value="living">리빙/홈데코</div>
                                                <div class="dropdown-item" data-value="sports">스포츠/아웃도어</div>
                                            </div>
                                        </div>
                                    </div>    
                                        <div style="display: flex;flex-direction: column; width: 45%;">    
                                        <div class="funding-regist-form-ex-wrapper">
                                            <span class="funding-regist-form-ex">(선택)</span>
                                            <span class="funding-regist-form-ex" style="font-weight: bold; color: rgb(128, 189, 255);"> 카테고리</span>
                                        </div>
                                         <div class="custom-select-container">
                                            <input 
                                                class="funding-regist-form-input" 
                                                type="text" 
                                                name="category1" 
                                                id="input01" 
                                                placeholder="카테고리를 선택하세요" 
                                                value="" 
                                                autocomplete="off"
                                                readonly>
                                            <div class="custom-dropdown" id="dropdown01" style="width: 300px;">
                                                <div class="dropdown-item" data-value="tech">테크/가전</div>
                                                <div class="dropdown-item" data-value="fashion">패션/잡화</div>
                                                <div class="dropdown-item" data-value="food">푸드</div>
                                                <div class="dropdown-item" data-value="beauty">뷰티</div>
                                                <div class="dropdown-item" data-value="living">리빙/홈데코</div>
                                                <div class="dropdown-item" data-value="sports">스포츠/아웃도어</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 1. 프로젝트명 입력 필드 -->
                                <div class="funding-regist-form-tab-title-icon-wrap" style="width: 22%;">
                                    <h3 class="funding-regist-form-tab-title fist-tab-title">
                                        2. 새로운 팀명
                                    </h3>
                                    <!-- 필수 항목 아이콘 및 툴팁 -->
                                    <div class="funding-regist-form-tab-title-icon">
                                        <div>
                                            <span style="top: unset; bottom: 11.6875px; right: unset; left: 244.883px;">*</span>
                                            <div class="funding-regist-form-tab-title-alter" style="top: -31.562px;left: -21.539px;">
                                                <span>필수항목</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    
                            </div>
                            <!-- 입력 예시 안내 -->
                            <div class="funding-regist-form-ex-wrapper">
                                <span class="funding-regist-form-ex">(예시)</span>
                                <span class="funding-regist-form-ex" style="font-weight: bold; color: rgb(128, 189, 255);"> 커밋앤머지</span>
                            </div>
                            <div class="funding-regist-form-input-finalvalue-wrapper">
                                <input class="funding-regist-form-input data-validata" type="text" name="user" id="input03" placeholder="프로젝트 이름을 입력하세요" value="" autocomplete="off">
                                <!-- 유효성 검사 실패 시 표시되는 메시지 -->
                                <div class="funding-regist-form-input-finalvalue">
                                    <span>값을 입력하세요</span>
                                </div>
                            </div>
                            
                            <!-- 2. 기업 프로필 URL 입력 필드 -->
                            <div class="funding-regist-form-tab-title-icon-wrap" style="width: 45%;">
                                <h3 class="funding-regist-form-tab-title fist-tab-title">
                                    3. C&M내 사용 할 팀 URL 입력
                                </h3>
                                <!-- 필수 항목 아이콘 및 툴팁 -->
                                <div class="funding-regist-form-tab-title-icon">
                                    <div>
                                        <span style="top: unset; bottom: 11.6875px; right: unset; left: 244.883px;">*</span>
                                        <div class="funding-regist-form-tab-title-alter" style="top: -31.562px;left: -21.539px;">
                                            <span>필수항목</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="funding-regist-form-ex-wrapper">
                                <span class="funding-regist-form-ex">(예시)</span>
                                <span class="funding-regist-form-ex" style="font-weight: bold; color: rgb(128, 189, 255);"> www.Commit&Merge.com/teams/samsung-electronics</span>
                            </div>
                            <div class="funding-regist-form-input-finalvalue-wrapper">
                                <input class="funding-regist-form-input data-validata" type="text" name="user" id="input03" placeholder="www.Commit&Merge.com/teams/samsung-electronics" value="" autocomplete="off">
                                <!-- 유효성 검사 실패 시 표시되는 메시지 -->
                                <div class="funding-regist-form-input-finalvalue">
                                    <span>값을 입력하세요</span>
                                </div>
                            </div>
                            
                            <!-- 구분선 -->
                            <div class="funding-regist-form-separator-wrapper">
                                <div class="funding-regist-form-separator">
                                    <hr class="funding-regist-form-separator-line">
                                </div>
                            </div>
                            
                            <!-- 3. 담당자 직책/직급 입력 필드 (필수) -->
                            <div class="funding-regist-form-tab-title-icon-wrap" style="width: 26%;">
                                <h3 class="funding-regist-form-tab-title fist-tab-title">
                                    4. 팀 한줄 소개
                                </h3>
                                <!-- 필수 항목 아이콘 및 툴팁 -->
                                <div class="funding-regist-form-tab-title-icon">
                                    <div>
                                        <span style="top: unset; bottom: 11.6875px; right: unset; left: 244.883px;">*</span>
                                        <div class="funding-regist-form-tab-title-alter" style="top: -31.562px;left: -21.539px;">
                                            <span>필수항목</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="funding-regist-form-ex-wrapper">
                                <span class="funding-regist-form-ex">(필독)</span>
                                <span class="funding-regist-form-ex" style="font-weight: bold; color: rgb(128, 189, 255);"> 혁신적인 아이디어로 세상을 변화시키는 팀.</span>
                            </div>
                            <!-- 유효성 검사 포함 입력 필드 -->
                            <div class="funding-regist-form-input-finalvalue-wrapper">
                                <input class="funding-regist-form-input data-validata" type="text" name="user" id="input03" placeholder="목표금액을 입력하세요" value="" autocomplete="off">
                                <!-- 유효성 검사 실패 시 표시되는 메시지 -->
                                <div class="funding-regist-form-input-finalvalue">
                                    <span>값을 입력하세요</span>
                                </div>
                            </div>            
                            <!-- 구분선 -->
                            <div class="funding-regist-form-separator-wrapper">
                                <div class="funding-regist-form-separator">
                                    <hr class="funding-regist-form-separator-line">
                                </div>
                            </div>
                            
                            <!-- 5. 재직 증명 서류 업로드 (필수) -->
                            <div class="funding-regist-form-tab-title-icon-wrap" style="width: 42%;">
                                <h3 class="funding-regist-form-tab-title fist-tab-title" style="margin-top: 40px;">
                                    6. 팀 프로필 이미지 등록
                                </h3>
                                <div class="funding-regist-form-tab-title-icon">
                                    <span style="top: unset; bottom: 11.6875px; right: unset; left: 244.883px;">*</span>
                                    <div class="funding-regist-form-tab-title-alter" style="top: -29.562px;left: -20.539px;">
                                        <span>필수항목</span>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- 필요 서류 안내 -->
                            <div class="funding-regist-form-tab-spanBox">
                                <span style="tag: span; font-weight: bold;">
                                    -  <span style="tag: span; color: rgb(128, 189, 255);">최소 1개, 최대 5개까지 업로드 가능</span>
                                </span>
                                <span style="tag: span; font-weight: bold;">
                                    -  <span style="tag: span; color: rgb(128, 189, 255);">파일 형식: jpg 또는 png/ 용량 : 5MB 이하/ 사이즈 : 가로 세로 각각 1,000px 이상 <strong style="font-weight: bold;">가로 세로 비율 1:1</strong></span>
                                </span>
                                <span style="tag: span; font-weight: bold;">
                                    -  <span style="tag: span; color: rgb(128, 189, 255);">이미지를 등록하면 즉시 반영됩니다.</span>
                                </span>
                                <span>
                                    * 프로필은 마이팀에서 변경할 수 있습니다.
                                </span>
                            </div>
                            
                            <!-- 파일 업로드 영역 (첫 번째) -->
                            <div class="funding-regist-form-fileUpload-wrapper" style="position: relative;">
                                <div class="funding-regist-form-fileUpload">
                                    <!-- 숨겨진 파일 입력 필드 (다중 파일 선택 가능) -->
                                    <input class="data-validata" multiple type="file" name="file" id="input05" style="border:0;clip:rect(0, 0, 0, 0);clip-path:inset(50%);height:1px;margin:0 -1px -1px 0;overflow:hidden;padding:0;position:absolute;width:1px;white-space:nowrap" value="" autocomplete="none">
                                    <!-- 파일 업로드 버튼 UI -->
                                    <button type="button" id="upload_button01" class="funding-regist-form-fileUpload-inner">
                                        <!-- 업로드 아이콘 -->
                                        <i class="funding-regist-form-fileUpload-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" class="bi bi-upload" viewBox="0 0 24 24">
                                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                                                <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z"/>
                                            </svg>
                                        </i>
                                        <span class="funding-regist-form-fileUpload-inner-span">클릭하여 파일을 선택하거나 여기로 드래그 하세요</span>
                                        <span></span>
                                    </button>
                                    <!-- 이미지 미리보기 영역 -->
                                    <div class="funding-regist-form-preview" id="imagePreviewF"></div>
                                </div>
                                <!-- 파일 업로드 필수 안내 메시지 -->
                                <div class="funding-regist-form-input-finalvalue" style="position: absolute; left: -16%; bottom: 27px;">
                                    <span>사진을 업로드하세요</span>
                                </div>
                            </div>

                            <!-- 구분선 -->
                            <div class="funding-regist-form-separator-wrapper">
                                <div class="funding-regist-form-separator">
                                    <hr class="funding-regist-form-separator-line">
                                </div>
                            </div>   
                            
                            <!-- 메모 입력 영역 (선택사항) -->
                            <div class="funding-regist-form-memo-wrapper">
                                <h3 class="funding-regist-form-memo">7. 팀 상세 소개</h3>
                            </div>
                            <div class="funding-regist-form-tab-spanBox">
                                <span style="tag: span; font-weight: bold;">
                                    <span style="tag: span; color: rgb(128, 189, 255);">Q. 무엇을 만들기 위한 프로젝트인가요?</span>
                                </span>
                                <span style="tag: span; font-weight: bold;">
                                    <span style="tag: span; color: rgb(128, 189, 255);">Q. 프로젝트를 간단히 소개한다면?</span>
                                </span>
                                <span style="tag: span; font-weight: bold;">
                                    <span style="tag: span; color: rgb(128, 189, 255);">Q. 이 프로젝트가 왜 의미있나요?</span>
                                </span>
                                <span style="tag: span; font-weight: bold;">
                                    <span style="tag: span; color: rgb(128, 189, 255);">Q. 이 프로젝트를 시작하게 된 배경이 무엇인가요?</span>
                                </span>
                                <span>
                                    * 후원자 분들이 프로젝트를 이해할 수 있도록 소개해주세요.
                                </span>
                            </div>
                            <div class="funding-regist-form-memo-value-wrappper" style="margin-bottom: 40px;">
                                <div class="funding-regist-form-memo-value-area">
                                    <!-- 메모 입력 텍스트 영역 -->
                                    <textarea name="" id="funding-regist-form-memo" style="height: 218px;" class="funding-regist-form-memo-value"></textarea>
                                </div>
                            </div>
                            
                            <!-- 구분선 -->
                            <div class="funding-regist-form-separator-wrapper">
                                <div class="funding-regist-form-separator">
                                    <hr class="funding-regist-form-separator-line">
                                </div>
                            </div>   
                            
                            <!-- 7. 이메일 입력 필드 (필수) -->
                            <div class="funding-regist-form-tab-title-icon-wrap" style="width: 39%;">
                                <h3 class="funding-regist-form-tab-title fist-tab-title">
                                    7. 결과를 전달 받을 이메일
                                </h3>
                                <div class="funding-regist-form-tab-title-icon">
                                    <div>
                                        <span style="top: unset; bottom: 11.6875px; right: unset; left: 244.883px;">*</span>
                                        <div class="funding-regist-form-tab-title-alter" style="top: -31.562px;left: -21.539px;">
                                            <span>필수항목</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="funding-regist-form-ex-wrapper">
                                <span class="funding-regist-form-ex">(예시)</span>
                                <span class="funding-regist-form-ex" style="font-weight: bold; color: rgb(128, 189, 255);">  example@domain.com</span>
                            </div>
                            <!-- 이메일 형식 유효성 검사 포함 -->
                            <div class="funding-regist-form-input-finalvalue-wrapper" style="margin-bottom: 30px;">
                                <input class="funding-regist-form-input data-validata" type="text" name="email" id="input07" placeholder="example@domain.com" value="" autocomplete="off">
                                <!-- 빈 값 유효성 검사 메시지 -->
                                <div class="funding-regist-form-input-finalvalue">
                                    <span>값을 입력하세요</span>
                                </div>
                                <!-- 이메일 형식 유효성 검사 메시지 -->
                                <div class="funding-regist-form-input-finalvalue finalvalue-email" style="display: none;">
                                    <span>이메일 양식에 맞게 입력하세요</span>
                                </div>
                            </div>
                            
                            <!-- 폼 제출 버튼 영역 -->
                            <div class="funding-regist-form-submit-wrapper">
                                <div>
                                    <button type="submit" tabindex="0" class="funding-regist-form-submit">
                                        <span class="funding-regist-form-submit-text">제출하기</span>
                                        <!-- 화살표 아이콘 -->
                                        <i class="funding-regist-form-submit-icon-wrapper">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 13 13">
                                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
                                            </svg>
                                        </i>
                                        <!-- 로딩 인디케이터 (제출 중 표시) -->
                                        <span class="funding-regist-form-submit-loading">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-loader sc-500dd495-0 leDWoT activity-indicator" aria-hidden="true" data-sentry-element="Loader" data-sentry-component="ActivityIndicator" data-sentry-source-file="index.tsx">
                                                <path d="M12 2v4"></path>
                                                <path d="m16.2 7.8 2.9-2.9"></path>
                                                <path d="M18 12h4"></path>
                                                <path d="m16.2 16.2 2.9 2.9"></path>
                                                <path d="M12 18v4"></path>
                                                <path d="m4.9 19.1 2.9-2.9"></path>
                                                <path d="M2 12h4"></path>
                                                <path d="m4.9 4.9 2.9 2.9"></path>
                                            </svg>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div></div>
                    </form>
                </section>
            </main>
        </div>
    </div>
</body>
<!-- 펀딩 등록 페이지 JavaScript 파일 -->
<script src="../../../static/js/team/regist/regist.js"></script>
</html>
