<!-- 메인 페이지 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C&M 코딩과 나의 이야기</title>
    <link rel="stylesheet" href="../../static/css/main/main.css">
</head>
<body>
    <!-- 메인화면전체 -->
    <div class="main">
        <!-- 사이드바쪽 -->
        <div class="side-bar">
            <!-- 로고랑 로그인 후 검색 영역전체 -->
            <div class="logo-all">
                <!--로고랑 로그인 후 검색 가능 영역 전체인데 로고올보단 작은 영역 -->
                <div class="logo-center">
                    <a href="">
                        <!-- 로고 영역 -->
                        <div class="logo">
                            <img src="../../static/image/commit&merge.png" width="100px" height="100px">
                        </div>
                    </a>
                    <!-- 로그인 후 검색 가능 박스 영역 -->
                    <div class="serch">
                        <!-- 로그인 후 검색 가능 글자 영역 -->
                        <div class="serch-in">
                            <p class="logo-center-text">커뮤니티 탐색</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 사이드바 카테고리 전체 -->
            <div class="side-bar-category-all">
                <!-- 사이드바 카테고리 전체중 카테고리만 -->
                <div class="side-bar-category">
                    <!-- 카테고리들 -->
                    <div class="category-parts">
                        <div>
                           <a href="parts">
                                <div class="first-wrap">
                                    <div class="first-part-icon">
                                        <svg aria-label="icon" color="foregrounds.surface.inverted" fill="currentColor" height="19.2" role="img" width="19.2"><use href="#home-simple-2-solid"></use></svg>
                                    </div>
                                    <div class="first-part-text">
                                        <p class="home">홈</p>
                                        <p class="news">가장 빠른 소식</p>
                                    </div>
                                </div>
                            </a>
                            <a href="parts">
                                <div class="second-wrap">
                                    <div class="second-part-icon">
                                        <svg aria-label="icon" color="foregrounds.neutral.tertiary" fill="currentColor" height="19.2" role="img" width="19.2"><use href="#globe-earth-2-solid"></use></svg>
                                    </div>
                                    <div class="second-part-text">
                                        <p class="event-text">팀찾기</p>
                                        <p class="event-conference-text">새로운 기회 탐색</p>
                                    </div>
                                    <div>
                                        <div class="update-text">
                                            <span class="update-blue">
                                                핫이슈
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="parts">
                                <div class="third-wrap">
                                    <div class="third-part-icon">
                                        <svg aria-label="icon" color="foregrounds.neutral.tertiary" fill="currentColor" height="19.2" role="img" width="19.2"><use href="#users-group-3-solid"></use></svg>
                                    </div>
                                    <div class="third-part-text">
                                        <p class="employ">파트너찾기</p>
                                        <p class="new-chance">새로운 친구 탐색</p>
                                    </div>
                                </div>
                            </a>
                            <a href="parts">
                                <div class="fourth-wrap">
                                    <div class="fourth-part-icon">
                                        <svg aria-label="icon" color="foregrounds.neutral.tertiary" fill="currentColor" height="19.2" role="img" width="19.2"><use href="#book-open-solid"></use></svg>
                                    </div>
                                    <div class="fourth-part-text">
                                        <p class="education">인사이트</p>
                                        <p class="boot">빠른 가이드 정보</p>
                                    </div>
                                </div>
                            </a>
                            <a href="parts">
                                <div class="fifth-wrap">
                                    <div class="fifth-part-icon">
                                        <svg aria-label="icon" color="foregrounds.neutral.tertiary" fill="currentColor" height="19.2" role="img" width="19.2"><use href="#comments-solid"></use></svg>
                                    </div>
                                    <div class="fifth-part-text">
                                        <p class="message-box">메세지함</p>
                                        <p class="sosic">나를 위한 소식</p>
                                    </div>
                                </div>    
                            </a>
                            <a href="parts">
                                <div class="sixth-wrap">
                                    <div class="sixth-part-icon">
                                        <svg aria-label="icon" color="foregrounds.neutral.tertiary" fill="currentColor" height="19.2" role="img" width="19.2"><use href="#telescope-solid"></use></svg>
                                    </div>
                                    <div class="sixth-part-text">
                                        <p class="hub">펀딩</p>
                                        <p class="moa">스타트업,아이디어 펀딩</p>
                                    </div>
                                </div>    
                            </a>
                        </div>
                    </div>
                    <!-- 펼치기 부분 -->
                    <div class="part-detail">
                        <div class="part-detail-detail">
                            <div class="part-detail-parts">
                                <div class="anim-slide-down">
                                    <a href="slides">
                                        <div class="first-slide">
                                            <div class="first-slide-icon">
                                                <div class="first-icon">
                                                    <img src="https://www.rocketpunch.com/_next/image?url=https%3A%2F%2Fimage.rocketpunch.com%2Fcompany%2F6101%2Fwaug_logo_1700805327.png&w=48&q=75" class="img">
                                                </div>
                                            </div>
                                            <div class="first-slide-text">
                                                <span class="first-text">펀딩1</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="anim-slide-down">
                                    <a href="slides">
                                        <div class="second-slide">
                                            <div class="second-slide-icon">
                                                <div class="second-icon">
                                                    <img src="https://www.rocketpunch.com/_next/image?url=https%3A%2F%2Fimage.rocketpunch.com%2Fcompany%2F6101%2Fwaug_logo_1700805327.png&w=48&q=75" class="img">
                                                </div>
                                            </div>
                                            <div class="second-slide-text">
                                                <span class="second-text">펀딩2</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="anim-slide-down">
                                    <a href="slides">
                                        <div class="third-slide">
                                            <div class="third-slide-icon">
                                                <div class="third-icon">
                                                    <img src="https://www.rocketpunch.com/_next/image?url=https%3A%2F%2Fimage.rocketpunch.com%2Fcompany%2F6101%2Fwaug_logo_1700805327.png&w=48&q=75" class="img">
                                                </div>
                                            </div>
                                            <div class="third-slide-text">
                                                 <span class="third-text">펀딩3</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="anim-slide-down">
                                    <a href="slides">
                                        <div class="fourth-slide">
                                            <div class="fourth-slide-icon">
                                                <div class="fourth-icon">
                                                     <img src="https://www.rocketpunch.com/_next/image?url=https%3A%2F%2Fimage.rocketpunch.com%2Fcompany%2F6101%2Fwaug_logo_1700805327.png&w=48&q=75" class="img">
                                                </div>
                                            </div>
                                            <div class="fourth-slide-text">
                                                 <span class="fourth-text">펀딩4</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="anim-slide-down">
                                    <a href="slides">
                                        <div class="fifth-slide">
                                            <div class="fifth-slide-icon">
                                                <div class="fifth-icon">
                                                    <img src="https://www.rocketpunch.com/_next/image?url=https%3A%2F%2Fimage.rocketpunch.com%2Fcompany%2F6101%2Fwaug_logo_1700805327.png&w=48&q=75" class="img">
                                                </div>
                                            </div>
                                            <div class="fifth-slide-text">
                                                 <span class="fifth-text">펀딩5</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="anim-slide-down">
                                    <a href="slides">
                                        <div class="sixth-slide">
                                            <div class="sixth-slide-icon">
                                                <div class="sixth-icon">
                                                    <img src="https://www.rocketpunch.com/_next/image?url=https%3A%2F%2Fimage.rocketpunch.com%2Fcompany%2F6101%2Fwaug_logo_1700805327.png&w=48&q=75" class="img">
                                                </div>
                                            </div>

                                            <div class="sixth-slide-text">
                                                <span class="sixth-text">펀딩6</span>
                                            </div>
                                        </div>
                                    </a>    
                                </div>   
                            </div>
                            <div class="open-close">
                                <p class="close">접기</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 개인정보와 약관 기업서비스 -->
                <div class="service">
                    <!-- 로그인 후 설정 -->
                    <div class="option">
                        <div class="option-service">
                            <p class="option-service-text">설정</p>
                        </div>
                    </div>
                    <!-- 기업서비스 -->
                    <div class="company-service">
                        <div class="company-service-in">
                            <p class="company-service-text">기업 서비스</p>
                        </div>
                    </div>
                    <!-- 지원센터 -->
                    <div class="help">
                        <div class="help-service">
                            <p class="help-service-text">지원센터</p>
                        </div>
                    </div>
                </div>
                <!-- 풋터 쿠키맞춤설정 본서비스에서~02 -->
                <div class="footer">
                    <div class="footer-service-bon">
                        <p class="bon-service-text">
                            본 서비스에서 제공하는 사용자의 개인정보 데이터를 포함하여 각 정보주체의 동의 없이 데이터를 무단으로 수집하는 행위를 금지 및 거부합니다. 공개된 데이터도 크롤링 등 기술적 장치를 이용해 허가 없이 수집하는 경우 개인정보 보호법에 따라 형사처벌 될 수 있음을 알려드립니다.
                        </p>
                    </div>
                    <div class="footer-service-two">
                        <p class="two-five-text">
                            © 2025 Rocketpunch, 주식회사 더블에이스, 한동석, 대한민국 서울특별시 성동구 성수일로10길 12, 12층 1호, 04793, support@rocketpunch.com, +82 10-2710-7121
                        </p>
                    </div>
                    <!-- 사업자등록번호부터 접기까지 -->
                    <div class="footer-text-open-close">
                        <div class="footer-service-saupja">
                            <p class="saupja-text-content">
                                사업자등록번호 206-87-09615
                                통신판매업신고번호 2025-서울성동-0105
                                직업정보제공사업신고번호: J1202020240015
                                유료직업소개사업등록번호: 제2025-3030135-14-5-00002
                            </p>
                        </div>
                        <div class="fold">
                            <p class="fold-service">
                                <span class="fold-content">접기</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-icon1">
                <div class="login-icon1-in">
                    <div class="login-icon1-in-line">
                        <div class="line"></div>
                    </div>
                    <div class="login-icon1-in-center">
                        <a href="login1" class="logincenter">
                            <button class="login-button">
                                <p class="user-login">로그인</p>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 사이드바제외한 메인화면 -->
        <main class="main-center">
            <div class="header">
                <div class="header-center">
                    <!-- <div class="sidebar-control">
                        <button class="sidebar-control-button">
                            <div class="sidebar-control-button-in">
                                <svg aria-label="icon" color="foregrounds.neutral.primary" fill="currentColor" height="18" role="img" width="18"><use href="#layout-sidebar-left-outline"></use></svg>
                            </div>
                        </button>
                    </div> -->
                    <div class="header-text">
                        <p class="header-text-content">홈</p>
                    </div>
                    <!-- 알림(모달) 부분 새로 따올거임 -->
                     <div class="login-icon2-modal">
                        <svg aria-label="icon" color="foregrounds.neutral.primary" fill="currentColor" height="24" role="img" width="24">
                                <use href="#bell-outline"></use>
                        </svg>
                    </div>
                     <!-- 로그인 후 -->
                    <div class="login-icon2">
                        <div class="park">
                            <div class="park-in">
                                <img src="../../static/image/park.webp" class="park-img">
                            </div>
                        </div>
                    </div>
                     <!-- 로그인 전 -->
                    <!-- <div class="login-icon2">
                        <a href="login">
                            <button class="login2">
                                <span class="login2-text">로그인</span>
                            </button>
                        </a>
                    </div> -->
                </div>
            </div>
            <div class="center">
                <div class="banner">
                    <img src="../../static/image/bd13d419-8815-4314-8331-e2d376e07f5c.webp" class="banner-img">
                    <div class="banner1"></div>
                    <div class="banner-text">
                        <div class="banner-text-content">
                            <p class="banner-text-content-first">
                                제품소개서, IR 자료, 회사소개서 등 PDF 공유 하나로 리드 확보하기
                            </p>
                            <p class="banner-text-content-second">
                                열람자, 열람 페이지, 문의 제출까지 한눈에
                            </p>
                        </div>
                    </div>
                    <img src="https://image.rocketpunch.com/ad_logo/2025/11/20/932ee246-55b1-438d-9ef2-cacf8d31a8ce.png" class="banner-img-small">
                </div>
                <div class="feed">
                    <div class="feed-in">
                        <div class="dashboard">
                            <div class="dashboard-in">
                                <div class="dashboard-part">
                                    <div class="dashboard-part-in">
                                        <div class="name">
                                            <div class="name-icon1">
                                                <a href="" style="height: 36px;">
                                                    <div class="name-icon1-in">
                                                        <div class="name-icon1-in-in">
                                                            <img src="../../static/image/default.webp" class="name-img">
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="name-text">
                                                <div class="name-text-content">
                                                    <div class="name-part">
                                                        <div class="name-part-in">
                                                            <div class="name-part-in-in">
                                                                <a href="/@asap-express">
                                                                    <p class="name-real">
                                                                        조준호
                                                                    </p>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- sw개발.미들 경영/운영.c레벨 등등 -->
                                                    <div class="career">
                                                        <p class="p">서비스 · 신입</p>
                                                        <p class="p">3일 전</p>
                                                    </div>
                                                </div>
                                                <div class="three-dot">
                                                    <button class="three-dot-button">
                                                        <div class="three-dot-button-content">
                                                            <svg aria-label="icon" color="foregrounds.neutral.tertiary" fill="currentColor" height="18" role="img" width="18"><use href="#more-menu-vertical-outline"></use></svg>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="content-in">
                                                <div class="content-in-in">
                                                    <div class="content-text">
                                                        <span class="span">퍼블렉시티 검색으로 알게되서 가입했는데, 역시 테크가 주(主)인가보네요.</span>
                                                        <br>
                                                        <span class="span">저는 한국에서 여행업 종사를 준비 중인데, 혹시 여행업계(여행사, 가이드 등) 종사자분들 계신가요?</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 아이콘들 (메세지 공유 등) -->
                                        <!-- <div class="icons">
                                            <div class="icons-in">
                                                <div class="icons-parts">
                                                    <button></button>
                                                    <button></button>
                                                    <button></button>
                                                    <button></button>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="dashboard-part">
                                    <div class="dashboard-part-in">
                                        <div class="name">
                                            <div class="name-icon1">
                                                <a href="" style="height: 36px;">
                                                    <div class="name-icon1-in">
                                                        <div class="name-icon1-in-in">
                                                            <img src="../../static/image/default.webp" class="name-img">
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="name-text">
                                                <div class="name-text-content">
                                                    <div class="name-part">
                                                        <div class="name-part-in">
                                                            <div class="name-part-in-in">
                                                                <a href="/@asap-express">
                                                                    <p class="name-real">
                                                                        조준호
                                                                    </p>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- sw개발.미들 경영/운영.c레벨 등등 -->
                                                    <div class="career">
                                                        <p class="p">서비스 · 신입</p>
                                                        <p class="p">3일 전</p>
                                                    </div>
                                                </div>
                                                <div class="three-dot">
                                                    <button class="three-dot-button">
                                                        <div class="three-dot-button-content">
                                                            <svg aria-label="icon" color="foregrounds.neutral.tertiary" fill="currentColor" height="18" role="img" width="18"><use href="#more-menu-vertical-outline"></use></svg>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="content-in">
                                                <div class="content-in-in">
                                                    <div class="content-text">
                                                        <span class="span">퍼블렉시티 검색으로 알게되서 가입했는데, 역시 테크가 주(主)인가보네요.</span>
                                                        <br>
                                                        <span class="span">저는 한국에서 여행업 종사를 준비 중인데, 혹시 여행업계(여행사, 가이드 등) 종사자분들 계신가요?</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 아이콘들 (메세지 공유 등) -->
                                        <!-- <div class="icons">
                                            <div class="icons-in">
                                                <div class="icons-parts">
                                                    <button></button>
                                                    <button></button>
                                                    <button></button>
                                                    <button></button>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="dashboard-part">
                                    <div class="dashboard-part-in">
                                        <div class="name">
                                            <div class="name-icon1">
                                                <a href="" style="height: 36px;">
                                                    <div class="name-icon1-in">
                                                        <div class="name-icon1-in-in">
                                                            <img src="../../static/image/default.webp" class="name-img">
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="name-text">
                                                <div class="name-text-content">
                                                    <div class="name-part">
                                                        <div class="name-part-in">
                                                            <div class="name-part-in-in">
                                                                <a href="/@asap-express">
                                                                    <p class="name-real">
                                                                        조준호
                                                                    </p>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- sw개발.미들 경영/운영.c레벨 등등 -->
                                                    <div class="career">
                                                        <p class="p">서비스 · 신입</p>
                                                        <p class="p">3일 전</p>
                                                    </div>
                                                </div>
                                                <div class="three-dot">
                                                    <button class="three-dot-button">
                                                        <div class="three-dot-button-content">
                                                            <svg aria-label="icon" color="foregrounds.neutral.tertiary" fill="currentColor" height="18" role="img" width="18"><use href="#more-menu-vertical-outline"></use></svg>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="content-in">
                                                <div class="content-in-in">
                                                    <div class="content-text">
                                                        <span class="span">퍼블렉시티 검색으로 알게되서 가입했는데, 역시 테크가 주(主)인가보네요.</span>
                                                        <br>
                                                        <span class="span">저는 한국에서 여행업 종사를 준비 중인데, 혹시 여행업계(여행사, 가이드 등) 종사자분들 계신가요?</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 아이콘들 (메세지 공유 등) -->
                                        <!-- <div class="icons">
                                            <div class="icons-in">
                                                <div class="icons-parts">
                                                    <button></button>
                                                    <button></button>
                                                    <button></button>
                                                    <button></button>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="dashboard-part">
                                    <div class="dashboard-part-in">
                                        <div class="name">
                                            <div class="name-icon1">
                                                <a href="" style="height: 36px;">
                                                    <div class="name-icon1-in">
                                                        <div class="name-icon1-in-in">
                                                            <img src="../../static/image/default.webp" class="name-img">
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="name-text">
                                                <div class="name-text-content">
                                                    <div class="name-part">
                                                        <div class="name-part-in">
                                                            <div class="name-part-in-in">
                                                                <a href="/@asap-express">
                                                                    <p class="name-real">
                                                                        조준호
                                                                    </p>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- sw개발.미들 경영/운영.c레벨 등등 -->
                                                    <div class="career">
                                                        <p class="p">서비스 · 신입</p>
                                                        <p class="p">3일 전</p>
                                                    </div>
                                                </div>
                                                <div class="three-dot">
                                                    <button class="three-dot-button">
                                                        <div class="three-dot-button-content">
                                                            <svg aria-label="icon" color="foregrounds.neutral.tertiary" fill="currentColor" height="18" role="img" width="18"><use href="#more-menu-vertical-outline"></use></svg>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="content-in">
                                                <div class="content-in-in">
                                                    <div class="content-text">
                                                        <span class="span">퍼블렉시티 검색으로 알게되서 가입했는데, 역시 테크가 주(主)인가보네요.</span>
                                                        <br>
                                                        <span class="span">저는 한국에서 여행업 종사를 준비 중인데, 혹시 여행업계(여행사, 가이드 등) 종사자분들 계신가요?</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 아이콘들 (메세지 공유 등) -->
                                        <!-- <div class="icons">
                                            <div class="icons-in">
                                                <div class="icons-parts">
                                                    <button></button>
                                                    <button></button>
                                                    <button></button>
                                                    <button></button>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="dashboard-part">
                                    <div class="dashboard-part-in">
                                        <div class="name">
                                            <div class="name-icon1">
                                                <a href="" style="height: 36px;">
                                                    <div class="name-icon1-in">
                                                        <div class="name-icon1-in-in">
                                                            <img src="../../static/image/default.webp" class="name-img">
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="name-text">
                                                <div class="name-text-content">
                                                    <div class="name-part">
                                                        <div class="name-part-in">
                                                            <div class="name-part-in-in">
                                                                <a href="/@asap-express">
                                                                    <p class="name-real">
                                                                        조준호
                                                                    </p>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- sw개발.미들 경영/운영.c레벨 등등 -->
                                                    <div class="career">
                                                        <p class="p">서비스 · 신입</p>
                                                        <p class="p">3일 전</p>
                                                    </div>
                                                </div>
                                                <div class="three-dot">
                                                    <button class="three-dot-button">
                                                        <div class="three-dot-button-content">
                                                            <svg aria-label="icon" color="foregrounds.neutral.tertiary" fill="currentColor" height="18" role="img" width="18"><use href="#more-menu-vertical-outline"></use></svg>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="content-in">
                                                <div class="content-in-in">
                                                    <div class="content-text">
                                                        <span class="span">퍼블렉시티 검색으로 알게되서 가입했는데, 역시 테크가 주(主)인가보네요.</span>
                                                        <br>
                                                        <span class="span">저는 한국에서 여행업 종사를 준비 중인데, 혹시 여행업계(여행사, 가이드 등) 종사자분들 계신가요?</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 아이콘들 (메세지 공유 등) -->
                                        <!-- <div class="icons">
                                            <div class="icons-in">
                                                <div class="icons-parts">
                                                    <button></button>
                                                    <button></button>
                                                    <button></button>
                                                    <button></button>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- 오른쪽 사이드 부분 -->
                        <div class="profile-trend">
                            <div class="profile">
                                <!-- 로그인 전 -->
                                <div class="profile-text">
                                    <div class="profile-text-in">
                                        <p class="profile-text-in-first">
                                            기회를 발견하는
                                            네트워킹의 시작
                                        </p>

                                        <p class="profile-text-in-second">
                                            지금 프로필을 만들고 기회를 찾아보세요.
                                        </p>
                                    </div>
                                </div>
                                <div class="profile-login">
                                    <button class="profile-login-button">
                                        <span class="profile-login-button-text">
                                            로그인
                                        </span>
                                    </button>
                                </div>


                                <!-- 로그인 후 -->
                                <!-- <div class="profile-text"> -->
                                    <!-- 내프로필 경로일듯 -->
                                    <!-- <a href="/@kausha">
                                        <div class="profile-img">
                                            <div class="profile-img-in">
                                                <img alt="사용자 프로필 1" loading="lazy" width="52" height="52" decoding="async" data-nimg="1" style="color:transparent;border-radius:7.8px;height:52px;width:52px;object-fit:cover" srcset="/_next/image?url=https%3A%2F%2Fimage.rocketpunch.com%2Fmember_profile%2F18012%2Fdefault.png&amp;w=64&amp;q=75 1x, /_next/image?url=https%3A%2F%2Fimage.rocketpunch.com%2Fmember_profile%2F18012%2Fdefault.png&amp;w=128&amp;q=75 2x" src="https://www.rocketpunch.com/_next/image?url=https%3A%2F%2Fimage.rocketpunch.com%2Fmember_profile%2F18012%2Fdefault.png&amp;w=128&amp;q=75">
                                            </div>
                                        </div>
                                    </a>
                                    박하민 sw 개발신입
                                    <div class="park-ha-min"></div>
                                    게시물 팔로워 팔로잉
                                    <div class="follow"></div>
                                </div>
                                글쓰기, 내 프로필
                                <div class="profile=my"></div> -->
                            </div>
                            <div class="trend">
                                <!-- 가장 인기있는 공고 -->
                                <div class="popular">
                                    <div class="popular-text">
                                        <div class="popular-text-in">
                                            <div class="popular-text-content">
                                                <p class="popular-text-content-in">
                                                    가장 인기있는 공고
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 공고들 -->
                                <div class="popular-things">
                                    <a href="" style="width: 100%;">
                                        <div class="popular-thing">
                                            <div class="popular-thing-in">
                                                <div class="popular-thing-icon">
                                                    <div class="popular-thing-icon-in">
                                                        <img class="popular-img" src="../../static/image/colavoground_logo_1529923725.webp">
                                                    </div>
                                                </div>
                                                <div class="popular-thing-text">
                                                    <div class="popular-thing-text-content1">
                                                        <div class="div-text-content1">
                                                            <p class="text-content1">주식회사 비욘드메디슨</p>
                                                        </div>
                                                        <p class="text-content2">코틀린/스프링 백엔드 및 인프라 개발</p>
                                                        <p class="text-content3">코틀린/스프링 백엔드 인프라 개발자</p>

                                                    </div>
                                                    <div class="popular-thing-text-content2">
                                                        <div class="popular-thing-text-left">
                                                            <span class="left-text">신입~시니어</span>
                                                        </div>
                                                        <div class="popular-thing-text-right">
                                                            <span class="right-text">상시 출근</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="" style="width: 100%;"></a>
                                    <a href="" style="width: 100%;"></a>
                                    <a href="" style="width: 100%;"></a>
                                </div>
                                <!-- 공고 더보기 -->
                                <a class="more" href="/jobs">
                                    <button class="more-button" type="button">
                                        <span class="more-button-text">공고 더보기</span>
                                    </button>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-icon3"></div>
        </main>
    </div>
    <!-- "박" 누르면 나오는 모달 -->
    <div class="modal-park">
        <div class="modal-park-name">
            <div class="modal-park-name-text">박하민</div>
        </div>
        <div class="modal-park-content">
            <div class="modal-park-content-in">
                <div class="modal-park-content-in-in">
                    <a href="/@kausha">
                        <div class="my-profile">
                            <div class="my-profile-in">
                                <div class="my-profile-logo-text">
                                    <div class="my-profile-logo">
                                        <div class="my-profile-logo-in">
                                            <svg aria-label="icon" color="foregrounds.neutral.primary" fill="currentColor" height="24" role="img" width="24"><use href="#user-outline"></use></svg>
                                        </div>
                                    </div>
                                    <div class="my-profile-text">
                                        <p class="my-profile-text-in">내 프로필</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="logout">
                        <div class="logout-in">
                            <div class="logout-logo-text">
                                <div class="logout-logo">
                                    <div class="logout-logo-in">
                                        <svg aria-label="icon" color="foregrounds.neutral.primary" fill="currentColor" height="24" role="img" width="24"><use href="#login-outline"></use></svg>
                                    </div>
                                </div>
                                <div class="logout-text">
                                    <p class="logo-text-in">로그아웃</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <svg style="display: none;">
            <symbol id="home-simple-2-solid" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M10.92 3.81a1.8 1.8 0 0 1 2.16 0l7 5.25c.453.34.72.873.72 1.44V19a1.8 1.8 0 0 1-1.8 1.8h-4a1.8 1.8 0 0 1-1.8-1.8v-3a.2.2 0 0 0-.2-.2h-2a.2.2 0 0 0-.2.2v3A1.8 1.8 0 0 1 9 20.8H5A1.8 1.8 0 0 1 3.2 19v-8.5c0-.567.267-1.1.72-1.44z" clip-rule="evenodd"></path>
            </symbol>
        </svg>
        <svg style="display: none;">
            <symbol id="globe-earth-2-solid" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M12 2.2c1.093 0 2.144.182 3.126.512v1.362c0 .622-.504 1.126-1.126 1.126h-.5a2.3 2.3 0 0 0-2.3 2.3V8a.2.2 0 0 1-.2.2A1.8 1.8 0 0 0 9.2 10v1a2.8 2.8 0 0 0 2.8 2.8h2a1.2 1.2 0 0 1 1.2 1.2 2.8 2.8 0 0 0 2.604 2.793h2.1A9.78 9.78 0 0 1 12 21.8c-.067 0-.134-.005-.2-.006V18.5a2.31 2.31 0 0 0-2.313-2.3.686.686 0 0 1-.687-.674c0-.524-.181-1.034-.514-1.44L3.144 7.8A9.8 9.8 0 0 1 12 2.2M7.048 15.1c.098.12.152.27.152.426A2.285 2.285 0 0 0 9.487 17.8c.396 0 .713.323.713.7v3.132c-4.552-.846-8-4.835-8-9.632 0-.846.106-1.666.308-2.45zm9.495-11.784A9.8 9.8 0 0 1 21.8 12a9.76 9.76 0 0 1-.945 4.2l-1.811.001H18A1.2 1.2 0 0 1 16.8 15a2.8 2.8 0 0 0-2.8-2.8h-2a1.2 1.2 0 0 1-1.2-1.2v-1c0-.11.09-.2.2-.2A1.8 1.8 0 0 0 12.8 8v-.5a.7.7 0 0 1 .7-.7h.5a2.543 2.543 0 0 0 2.543-2.543z" clip-rule="evenodd"></path></symbol>
        </svg>
        <svg style="display: none;">
            <symbol id="users-group-3-solid" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M7 8a5 5 0 1 1 10 0A5 5 0 0 1 7 8M5 18a4 4 0 0 1 4-4h6a4 4 0 0 1 4 4v1a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2zm13.998-9.829a6.97 6.97 0 0 1-1.613 4.301l.016.028a6 6 0 0 1 2.02 1.444Q19.704 14 20 14a3 3 0 1 0-1.002-5.829M21 19q-.002.519-.126 1H23a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-.803c.51.883.803 1.907.803 3zM3 18c0-1.093.292-2.117.803-3H3a3 3 0 0 0-3 3v1a1 1 0 0 0 1 1h2.126A4 4 0 0 1 3 19zm1.578-4.056a6 6 0 0 1 2.02-1.444l.017-.028a6.97 6.97 0 0 1-1.613-4.3 3 3 0 1 0-.424 5.773" clip-rule="evenodd"></path></symbol>
        </svg>
        <svg style="display: none;">
            <symbol id="book-open-solid" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M2.494 5.984c3.17-2.59 6.57-1.899 8.706-.815v14.243c-1.651-1.105-4.81-2.15-7.694.208A.8.8 0 0 1 2.2 19V6.603a.8.8 0 0 1 .294-.62M12.8 5.169c2.136-1.084 5.536-1.776 8.706.815a.8.8 0 0 1 .294.619V19a.8.8 0 0 1-1.306.62c-2.884-2.358-6.043-1.313-7.694-.208z" clip-rule="evenodd"></path></symbol>
        </svg>
        <svg style="display: none;">
            <symbol id="comments-solid" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M9.2 12A2.8 2.8 0 0 1 12 9.2h7a2.8 2.8 0 0 1 2.8 2.8v9a.8.8 0 0 1-1.244.666L18.06 20a1.2 1.2 0 0 0-.666-.201H12A2.8 2.8 0 0 1 9.2 17zM12 2.2A2.8 2.8 0 0 1 14.8 5v2.6H12A4.4 4.4 0 0 0 7.6 12v.8h-.995c-.236 0-.468.07-.665.202l-2.497 1.664A.8.8 0 0 1 2.2 14V5A2.8 2.8 0 0 1 5 2.2z" clip-rule="evenodd"></path></symbol>
        </svg>
        <svg style="display: none;">
            <symbol id="telescope-solid" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M16.188 2.307a.8.8 0 0 1 1.093.293l4 6.928a.8.8 0 0 1-1.386.8l-.1-.173-5.369 3.1a1.8 1.8 0 0 1-1.897-.06l-1.818 1.05 2.988 5.366a.8.8 0 0 1-1.398.778l-2.57-4.614-1.895 4.534a.8.8 0 0 1-1.476-.617l1.617-3.868-.113.065a1.8 1.8 0 0 1-1.897-.06l-1.201.694a1.8 1.8 0 1 1-1.8-3.118l1.201-.693a1.8 1.8 0 0 1 .897-1.673l4.665-2.693a1.8 1.8 0 0 1 .897-1.673l5.37-3.1-.1-.173a.8.8 0 0 1 .292-1.093" clip-rule="evenodd"></path></symbol>
        </svg>

        <svg style="display: none;">
        <symbol id="layout-sidebar-left-outline" viewBox="0 0 24 24"><path clip-rule="evenodd" d="M6 4.8A1.2 1.2 0 0 0 4.8 6v12A1.2 1.2 0 0 0 6 19.2h3.2V4.8zm4.8 0v14.4H18a1.2 1.2 0 0 0 1.2-1.2V6A1.2 1.2 0 0 0 18 4.8zM3.2 6A2.8 2.8 0 0 1 6 3.2h12A2.8 2.8 0 0 1 20.8 6v12a2.8 2.8 0 0 1-2.8 2.8H6A2.8 2.8 0 0 1 3.2 18z" fill-rule="evenodd"></path></symbol>
        </svg>

        <svg style="display: none;">
        <symbol id="bell-outline" viewBox="0 0 24 24"><path clip-rule="evenodd" d="M12 1.2a.8.8 0 0 1 .8.8v1.236c2.215.202 3.71 1.242 4.65 2.547C18.467 7.198 18.8 8.872 18.8 10v3c0 1.499.313 2.32.607 2.744.294.422.565.456.593.456a.8.8 0 0 1 0 1.6h-4.2v.2a4.15 4.15 0 0 1-.75 2.342c-.6.831-1.59 1.458-3.05 1.458s-2.45-.627-3.05-1.458A4.15 4.15 0 0 1 8.2 18v-.2H4a.8.8 0 0 1 0-1.6c.028 0 .3-.034.593-.456.294-.423.607-1.245.607-2.744v-3c0-2.66 1.127-4.4 2.583-5.45 1.109-.798 2.377-1.174 3.417-1.3V2a.8.8 0 0 1 .8-.8m-5.827 15h11.654c-.382-.766-.627-1.822-.627-3.2v-3c0-.872-.268-2.198-1.05-3.283C15.4 5.673 14.14 4.8 12 4.8c-.872 0-2.198.268-3.283 1.05C7.673 6.6 6.8 7.86 6.8 10v3c0 1.377-.245 2.434-.627 3.2M9.8 17.8v.2c0 .372.118.948.45 1.408.3.419.81.792 1.75.792s1.45-.373 1.75-.792A2.55 2.55 0 0 0 14.2 18v-.2z" fill-rule="evenodd"></path></symbol>
        </svg>

        <svg style="display: none;">
        <symbol id="login-outline" viewBox="0 0 24 24"><path clip-rule="evenodd" d="M8.2 3a.8.8 0 0 1 .8-.8h8A2.8 2.8 0 0 1 19.8 5v14a2.8 2.8 0 0 1-2.8 2.8H9a.8.8 0 0 1 0-1.6h8a1.2 1.2 0 0 0 1.2-1.2V5A1.2 1.2 0 0 0 17 3.8H9a.8.8 0 0 1-.8-.8m2.234 4.434a.8.8 0 0 1 1.132 0l4 4a.8.8 0 0 1 0 1.132l-4 4a.8.8 0 0 1-1.132-1.132L13.07 12.8H5a.8.8 0 0 1 0-1.6h8.069l-2.635-2.634a.8.8 0 0 1 0-1.132" fill-rule="evenodd"></path></symbol>
        </svg>
        <svg style="display: none;">
        <symbol id="user-outline" viewBox="0 0 24 24"><path clip-rule="evenodd" d="M12 3.8a3.2 3.2 0 1 0 0 6.4 3.2 3.2 0 0 0 0-6.4M7.2 7a4.8 4.8 0 1 1 9.6 0 4.8 4.8 0 0 1-9.6 0M9 15.8A3.2 3.2 0 0 0 5.8 19v2a.8.8 0 0 1-1.6 0v-2A4.8 4.8 0 0 1 9 14.2h6a4.8 4.8 0 0 1 4.8 4.8v2a.8.8 0 0 1-1.6 0v-2a3.2 3.2 0 0 0-3.2-3.2z" fill-rule="evenodd"></path></symbol>
        </svg>
</body>
<script src="../../static/js/main/main.js"></script>
</html>