<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/insight/FAQ.css">
    <link rel="stylesheet" href="../../static/css/insight/FAQ-detail.css">
</head>
<body>
     <header role="banner">
        <div class="guide-wrapper">
            <div class="guide-header-main">
                <a href="#" role="none" class="guide-header-main-logo">
                    <img src="../../static/image/insight/networking.png" alt="" style="height: 28px; margin-top: 5px; display: block;">
                </a>
                <div role="none" class="guide-header-main-actions">
                    <a href="#" target="_blank" role="none" class="guide-header-main-actions-websites">
                        <span class="guide-header-main-actions-websites-itself">파트존 메인</span>
                    </a>
                </div>
            </div>
            <form action="#" role="search" class="guide-header-search" data-has-focus="false">
                <span class="guide-header-search-field">
                    <input type="search" name="search-query" autocomplete="off" autocorrect="off" autocapitalize="off" maxlength="100" placeholder="파트존 셀프 헬프 검색..." 
                    role="searchbox" class="guide-header-search-input guide-font-sans-regular">
                </span>
                <div></div>
            </form>
        </div>
        <div class="guide-header-background">
            <span style="background-image: url('../../static/image/insight/FAQ-background.png');" class="guide-header-background-banner"></span>
        </div>
    </header>
</body>
</html>