<!-- 메인 페이지 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C&M 코딩과 나의 이야기</title>
    <link rel="stylesheet" href="../../static/css/common/font.css">
    <link rel="stylesheet" href="../../static/css/message/style.css">
</head>
<body>
    <!-- 메인화면전체 -->
    <div class="main">
        <!-- 사이드바쪽 -->
        <div class="side-bar">
            <!-- 로고랑 로그인 후 검색 영역전체 -->
            <div class="logo-all">
                <!--로고랑 로그인 후 검색 가능 영역 전체인데 로고올보단 작은 영역 -->
                <div class="logo-center">
                    <a href="">
                        <!-- 로고 영역 -->
                        <div class="logo">
                            <img src="../../static/image/c&m.png" width="100px" height="100px">
                        </div>
                    </a>
                    <!-- 로그인 후 검색 가능 박스 영역 -->
                    <div class="serch">
                        <!-- 로그인 후 검색 가능 글자 영역 -->
                        <div class="serch-in">
                            <p class="logo-center-text">커뮤니티 탐색</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 사이드바 카테고리 전체 -->
            <div class="side-bar-category-all">
                <!-- 사이드바 카테고리 전체중 카테고리만 -->
                <div class="side-bar-category">
                    <!-- 카테고리들 -->
                    <div class="category-parts">
                        <div>
                           <a href="parts">
                                <div class="first-wrap">
                                    <div class="first-part-icon">
                                        <svg aria-label="icon" color="foregrounds.surface.inverted" fill="currentColor" height="19.2" role="img" width="19.2"><use href="#home-simple-2-solid"></use></svg>
                                    </div>
                                    <div class="first-part-text">
                                        <p class="home">홈</p>
                                        <p class="news">가장 빠른 소식</p>
                                    </div>
                                </div>
                            </a>
                            <a href="parts">
                                <div class="second-wrap">
                                    <div class="second-part-icon">
                                        <svg aria-label="icon" color="foregrounds.neutral.tertiary" fill="currentColor" height="19.2" role="img" width="19.2"><use href="#globe-earth-2-solid"></use></svg>
                                    </div>
                                    <div class="second-part-text">
                                        <p class="event-text">팀찾기</p>
                                        <p class="event-conference-text">새로운 기회 탐색</p>
                                    </div>
                                    <div>
                                        <div class="update-text">
                                            <span class="update-blue">
                                                핫이슈
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="parts">
                                <div class="third-wrap">
                                    <div class="third-part-icon">
                                        <svg aria-label="icon" color="foregrounds.neutral.tertiary" fill="currentColor" height="19.2" role="img" width="19.2"><use href="#users-group-3-solid"></use></svg>
                                    </div>
                                    <div class="third-part-text">
                                        <p class="employ">파트너찾기</p>
                                        <p class="new-chance">새로운 친구 탐색</p>
                                    </div>
                                </div>
                            </a>
                            <a href="parts">
                                <div class="fourth-wrap">
                                    <div class="fourth-part-icon">
                                        <svg aria-label="icon" color="foregrounds.neutral.tertiary" fill="currentColor" height="19.2" role="img" width="19.2"><use href="#book-open-solid"></use></svg>
                                    </div>
                                    <div class="fourth-part-text">
                                        <p class="education">인사이트</p>
                                        <p class="boot">빠른 가이드 정보</p>
                                    </div>
                                </div>
                            </a>
                            <a href="parts">
                                <div class="fifth-wrap">
                                    <div class="fifth-part-icon">
                                        <svg aria-label="icon" color="foregrounds.neutral.tertiary" fill="currentColor" height="19.2" role="img" width="19.2"><use href="#comments-solid"></use></svg>
                                    </div>
                                    <div class="fifth-part-text">
                                        <p class="message-box">메세지함</p>
                                        <p class="sosic">나를 위한 소식</p>
                                    </div>
                                </div>    
                            </a>
                            <a href="parts">
                                <div class="sixth-wrap">
                                    <div class="sixth-part-icon">
                                        <svg aria-label="icon" color="foregrounds.neutral.tertiary" fill="currentColor" height="19.2" role="img" width="19.2"><use href="#telescope-solid"></use></svg>
                                    </div>
                                    <div class="sixth-part-text">
                                        <p class="hub">펀딩</p>
                                        <p class="moa">스타트업,아이디어 펀딩</p>
                                    </div>
                                </div>    
                            </a>
                        </div>
                    </div>
                    <!-- 펼치기 부분 -->
                    <div class="part-detail">
                        <div class="part-detail-detail">
                            <div class="part-detail-parts">
                                <div class="anim-slide-down">
                                    <a href="slides">
                                        <div class="first-slide">
                                            <div class="first-slide-icon">
                                                <div class="first-icon">
                                                    <img src="https://www.rocketpunch.com/_next/image?url=https%3A%2F%2Fimage.rocketpunch.com%2Fcompany%2F6101%2Fwaug_logo_1700805327.png&w=48&q=75" class="img">
                                                </div>
                                            </div>
                                            <div class="first-slide-text">
                                                <span class="first-text">펀딩1</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="anim-slide-down">
                                    <a href="slides">
                                        <div class="second-slide">
                                            <div class="second-slide-icon">
                                                <div class="second-icon">
                                                    <img src="https://www.rocketpunch.com/_next/image?url=https%3A%2F%2Fimage.rocketpunch.com%2Fcompany%2F6101%2Fwaug_logo_1700805327.png&w=48&q=75" class="img">
                                                </div>
                                            </div>
                                            <div class="second-slide-text">
                                                <span class="second-text">펀딩2</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="anim-slide-down">
                                    <a href="slides">
                                        <div class="third-slide">
                                            <div class="third-slide-icon">
                                                <div class="third-icon">
                                                    <img src="https://www.rocketpunch.com/_next/image?url=https%3A%2F%2Fimage.rocketpunch.com%2Fcompany%2F6101%2Fwaug_logo_1700805327.png&w=48&q=75" class="img">
                                                </div>
                                            </div>
                                            <div class="third-slide-text">
                                                 <span class="third-text">펀딩3</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="anim-slide-down">
                                    <a href="slides">
                                        <div class="fourth-slide">
                                            <div class="fourth-slide-icon">
                                                <div class="fourth-icon">
                                                     <img src="https://www.rocketpunch.com/_next/image?url=https%3A%2F%2Fimage.rocketpunch.com%2Fcompany%2F6101%2Fwaug_logo_1700805327.png&w=48&q=75" class="img">
                                                </div>
                                            </div>
                                            <div class="fourth-slide-text">
                                                 <span class="fourth-text">펀딩4</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="anim-slide-down">
                                    <a href="slides">
                                        <div class="fifth-slide">
                                            <div class="fifth-slide-icon">
                                                <div class="fifth-icon">
                                                    <img src="https://www.rocketpunch.com/_next/image?url=https%3A%2F%2Fimage.rocketpunch.com%2Fcompany%2F6101%2Fwaug_logo_1700805327.png&w=48&q=75" class="img">
                                                </div>
                                            </div>
                                            <div class="fifth-slide-text">
                                                 <span class="fifth-text">펀딩5</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="anim-slide-down">
                                    <a href="slides">
                                        <div class="sixth-slide">
                                            <div class="sixth-slide-icon">
                                                <div class="sixth-icon">
                                                    <img src="https://www.rocketpunch.com/_next/image?url=https%3A%2F%2Fimage.rocketpunch.com%2Fcompany%2F6101%2Fwaug_logo_1700805327.png&w=48&q=75" class="img">
                                                </div>
                                            </div>

                                            <div class="sixth-slide-text">
                                                <span class="sixth-text">펀딩6</span>
                                            </div>
                                        </div>
                                    </a>    
                                </div>   
                            </div>
                            <div class="open-close">
                                <p class="close">접기</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 개인정보와 약관 기업서비스 -->
                <div class="service">
                    <!-- 로그인 후 설정 -->
                    <div class="option">
                        <div class="option-service">
                            <p class="option-service-text">설정</p>
                        </div>
                    </div>
                    <!-- 기업서비스 -->
                    <div class="company-service">
                        <div class="company-service-in">
                            <p class="company-service-text">기업 서비스</p>
                        </div>
                    </div>
                    <!-- 지원센터 -->
                    <div class="help">
                        <div class="help-service">
                            <p class="help-service-text">지원센터</p>
                        </div>
                    </div>
                </div>
                <!-- 풋터 쿠키맞춤설정 본서비스에서~02 -->
                <div class="footer">
                    <div class="footer-service-bon">
                        <p class="bon-service-text">
                            본 서비스에서 제공하는 사용자의 개인정보 데이터를 포함하여 각 정보주체의 동의 없이 데이터를 무단으로 수집하는 행위를 금지 및 거부합니다. 공개된 데이터도 크롤링 등 기술적 장치를 이용해 허가 없이 수집하는 경우 개인정보 보호법에 따라 형사처벌 될 수 있음을 알려드립니다.
                        </p>
                    </div>
                    <div class="footer-service-two">
                        <p class="two-five-text">
                            © 2025 Rocketpunch, 주식회사 더블에이스, 한동석, 대한민국 서울특별시 성동구 성수일로10길 12, 12층 1호, 04793, support@rocketpunch.com, +82 10-2710-7121
                        </p>
                    </div>
                    <!-- 사업자등록번호부터 접기까지 -->
                    <div class="footer-text-open-close">
                        <div class="footer-service-saupja">
                            <p class="saupja-text-content">
                                사업자등록번호 206-87-09615
                                통신판매업신고번호 2025-서울성동-0105
                                직업정보제공사업신고번호: J1202020240015
                                유료직업소개사업등록번호: 제2025-3030135-14-5-00002
                            </p>
                        </div>
                        <div class="fold">
                            <p class="fold-service">
                                <span class="fold-content">접기</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-icon1">
                <div class="login-icon1-in">
                    <div class="login-icon1-in-line">
                        <div class="line"></div>
                    </div>
                    <div class="login-icon1-in-center">
                        <a href="login1" class="logincenter">
                            <button class="login-button">
                                <p class="user-login">로그인</p>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 사이드바제외한 메인화면 -->
        <main class="main-center">
            <div class="header">
                <div class="header-center">
                    <!-- <div class="sidebar-control">
                        <button class="sidebar-control-button">
                            <div class="sidebar-control-button-in">
                                <svg aria-label="icon" color="foregrounds.neutral.primary" fill="currentColor" height="18" role="img" width="18"><use href="#layout-sidebar-left-outline"></use></svg>
                            </div>
                        </button>
                    </div> -->
                    <div class="header-text">
                        <p class="header-text-content">홈</p>
                    </div>
                    <!-- 알림(모달) 부분 새로 따올거임 -->
                     <div class="login-icon2-modal">
                        <svg aria-label="icon" color="foregrounds.neutral.primary" fill="currentColor" height="24" role="img" width="24">
                                <use href="#bell-outline"></use>
                        </svg>
                    </div>
                     <!-- 로그인 후 -->
                    <div class="login-icon2">
                        <div class="park">
                            <div class="park-in">
                                <img src="../../static/image/park.webp" class="park-img">
                            </div>
                        </div>
                    </div>
                     <!-- 로그인 전 -->
                    <!-- <div class="login-icon2">
                        <a href="login">
                            <button class="login2">
                                <span class="login2-text">로그인</span>
                            </button>
                        </a>
                    </div> -->
                </div>
            </div>
            <div class="center">
                <div class="msg-container">
                    <div class="msg-wrap">
                        <div class="msg-left">
                            <div class="msg-head">
                                <div class="msg-search-cotainer">
                                    <div class="msg-search-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#12131466" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" > <circle cx="11" cy="11" r="8"></circle> <line x1="21" y1="21" x2="16.65" y2="16.65"></line> </svg>
                                    </div>
                                    <input type="text" placeholder="대화 상대 찾기">
                                </div>
                            </div>
                            <div class="msg-tab-cotainer">
                                <div class="tab-button">
                                    <p>전체</p>
                                </div>
                                <div class="tab-button">
                                    <p>사람</p>
                                </div>
                                <div class="tab-button active">
                                    <p>기업</p>
                                </div>
                            </div>
                            <div class="msg-userTab">
                                <!-- 고를 텝이 있을때 -->
                                <!-- 엑티브 컨트롤 -->
                                <!-- <div class="userTab-container active"> 
                                    <div class="userTab-left">
                                        <div class="userTab-img">
                                            <img src="../../static/image/ex/ex_profile.png" alt="프로필">
                                        </div>
                                    </div>
                                    <div class="userTab-right">
                                        <div class="userTab-wrap">
                                            <div>
                                                <p class="msg-userTab-name">박하민</p>
                                            </div>
                                            <div>
                                                <p class="msg-userTab-overdate">1일 전</p>
                                            </div>
                                        </div>
                                        <div class="">
                                            <p class="msg-userTab-lastmsg">헹ㅇ</p>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- 정보가 없을때 -->
                                <div class="none-container">
                                    <div class="none-wrap">
                                        <p class="none-title">채팅 목록이 없습니다.</p>
                                        <p class="none-content">새로운 메시지를 보내 대화를 시작해보세요.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="msg-right">
                            <!-- <div class="msg-head">
                                <div class="msg-cotainer">
                                    <div class="msg-cotainer-head"></div>
                                    <div class="msg-cotainer-content"></div>
                                </div>
                            </div> -->
                            <!-- <div class="none-container">
                                <div class="none-wrap">
                                    <p class="none-title">채팅 목록이 없습니다.</p>
                                    <p class="none-content">새로운 메시지를 보내 대화를 시작해보세요.</p>
                                </div>
                            </div> -->
                            <div class="chat-content">
                                <div class="date-divider">
                                    <span>2026년 01월 30일</span>
                                </div>
                                <!-- 자신이 보낸 챗 -->
                                <div class="message-row me">
                                    <div class="me-bubble bubble">안녕하세요</div>
                                </div>
                                <div class="message-row me">
                                    <div class="me-bubble bubble">저는 홍길동입니다.</div>
                                    <div class="me-status-group status-group">
                                        <div class="me-read-status read-status"></div>
                                        <div class="me-time time">오후 4:36</div>
                                    </div>
                                </div>
                                <!-- 남이 보낸 챗 -->
                                <div class="message-row other">
                                    <div class="other-profile-area profile-area"></div>
                                    <div class="other-bubble bubble">안녕하세요여ㅛ</div>
                                    <div class="other-time time"></div>
                                </div>
                                <div class="message-row other">
                                    <div class="other-profile-area profile-area"></div>
                                    <div class="other-bubble bubble">안녕하세요</div>
                                    <div class="other-time time"></div>
                                </div>
                                <div class="message-row other">
                                    <div class="other-profile-area profile-area"><div class="other-profile">박</div></div>
                                    <div class="other-bubble bubble">저는 박00입니다.</div>
                                    <div class="other-time time"></div>
                                </div>
                            </div>
                            <div class="input-area">
                                <div class="input-box">
                                    <label for="fileInput" class="plus-btn">+</label>
                                    <input type="file" id="fileInput" accept="image/*">
                                    <input type="text" id="messageInput" placeholder="메시지를 입력해주세요">
                                    <button class="send-btn" id="sendBtn">↑</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-icon3"></div>
        </main>
    </div>
</body>
<script src="../../static/js/message/event.js"></script>
</html>